@import '../../style/variables.scss';

.personTabs {
    &__title {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__subtitle {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 40px;
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        margin-top: 25px;
        background-color: $tabs-bg;
        border-radius: 25px;
        padding: 50px 65px 25px 30px;
        position: relative;

        &-flex {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: calc(100% + 40px);
            height: 700px;
            overflow-y: auto;

            & {
                scrollbar-width: 3px;
                scrollbar-color: $main-color $scroll-bg;
            }
            
            &::-webkit-scrollbar {
                width: 5px;
            }
            
            &::-webkit-scrollbar-track {
                background: $scroll-bg;
                border-radius: 8px;
            }
            
            &::-webkit-scrollbar-thumb {
                background-color: $main-color;
                border-radius: 8px;
            }
        }
    }
}